.order_detail_infor {
  margin-top: 32px;
  margin-bottom: 64px;
}

.order_detail_infor h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  font-size: 25px;
  color: #2d2d2d;
  margin-bottom: 16px;
}

.order_detail_infor .text1 {
  font-size: 16px;
  font-weight: 500;
  /* color: #969696; */
}

.order_detail_infor .text1 span {
  font-size: 16px;
  font-weight: 500;
  color: #969696;
}

.order_detail_item_infor table {
  width: 100%;
  text-align: center;
  font-style: italic;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}

.order_detail_item_infor table thead {
  background-color: #f8f9fa;
}

.order_detail_item_infor table thead th {
  padding: 20px 12px;
  font-size: 20px;
  font-weight: 500;
}

.order_detail_item_infor table tbody tr:not(:last-child) {
  border-bottom: 2px solid rgb(188, 188, 188);
}

.order_detail_item_infor table tbody td {
  padding: 12px 4px;
}

.item_img img {
  display: block;
  width: 125px;
  height: auto;
  margin: auto;
}

.item_text1 {
  font-size: 16px;
  font-weight: 500;
}

.item_text2 {
  font-size: 16px;
  font-weight: 500;
  color: #969696;
}

.item_action button {
  height: 100%;
  background-color: transparent;
  color: #000;
  padding: 4px 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  border: 2px solid #969696;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.item_action button:hover {
  color: rgb(120, 120, 120);
  border: 2px solid #000;

  /* transform: scale(1.1); */
}
